{%extends "news/news_base.html"%}
{%block news%}
{%for i in news%}

<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{i.category.get_absolute_url}}">{{i.category}}</a>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <div class="flex-shrink-0">
                {% if i.photo%}
                <img src="{{i.photo.url}}" class="card-img-bottom" style="width: 360px" alt="NOT FOUND">
                {% else %}
                <img src="/media/news/img.png" class="card-img-bottom" style="width: 360px" alt="NOT FOUND">
                {% endif %}
            </div>
            <div class="flex-grow-1 ms-3">
                <h5 class="card-title">{{i.caption}}</h5>

                <p class="card-text">{{i.text|truncatewords:15}}</p>

                <a href="{% url 'one' pk=i.pk %}" class="btn btn-primary">Читать</a>
            </div>
        </div>
    </div>

    <div class="card-footer text-muted">

    </div>
</div>

{%endfor%}
{%endblock%}