{%extends "news/news_base.html"%}
{%block sidebar%}{%endblock%}
{%block news%}
<div class="card mb-3">
    {% if news.photo%}
    <img src="{{news.photo.url}}" class="card-img-top" style="..." alt="NOT FOUND">
    {% else %}
    <img src="/media/news/img.png" class="card-img-top" style="..." alt="NOT FOUND">
    {% endif %}
    <div class="card-body">
        <a href="{{news.category.get_absolute_url}}">{{news.category}}</a>
        <h5 class="card-title">{{news.caption}}</h5>
        <p class="card-text">{{news.text}}</p>
        <p class="card-text"><small class="text-muted">{{news.created_at}}</small></p>
        <div class="container">
          <img src="{{comments.user.photo.url}}" alt="NOT FOUND" style="width:90px">
          <p><span>Chris Fox.</span> CEO at Mighty Schools.</p>
          <p>HTML CSS saved us from a web disaster.</p>
        </div>

<!--        <p class="card-text"><small class="text-muted">{{comments.text}}</small></p>-->
    </div>
</div>
{%endblock%}